compute_environment: LOCAL_MACHINE
distributed_type: MULTI_GPU
downcast_bf16: 'yes'
gpu_ids: all
machine_rank: 0
main_training_function: main
mixed_precision: fp16
num_machines: 1
num_processes: 2
rdzv_backend: static
same_network: true
tpu_env: []
tpu_use_cluster: false
tpu_use_sudo: false
use_cpu: false
main_process_port: 29502
#accelerate launch --config_file accelerate_config.yaml mains/train.py
#accelerate launch --config_file accelerate_config.yaml  train.py
#accelerate launch --config_file accelerate_config.yaml main3hour/train.py

#CUDA_VISIBLE_DEVICES=0
